.c-accordion {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  padding: 10px;
  font-size: 0;
  background: transparent;
  border-width: 0;
}

.c-accordion::before,
.c-accordion::after {
  position: absolute;
  top: 50%;
  display: block;
  width: 68.2%;
  height: 1px;
  content: "";
  background: #000;
  transition: transform 0.3s, top 0.3s;
}

.c-accordion::before {
  transform: translateY(-50%) rotate(45deg);
  transform-origin: right;
  right: 50%;
}

.c-accordion::after {
  transform: translateY(-50%) rotate(-45deg);
  transform-origin: left;
  left: 50%;
}

.c-accordion--rotate {
  transition: 0.3s transform;

  &.is-active {
    transform: rotate(180deg);
  }
}
