.c-card {
  display: inline-block;
  width: 300px;
  padding: 10px;
  font-size: 16px;

  img {
    width: 100%;
    vertical-align: bottom;
  }
}

.c-card__txt {
  padding-top: 10px;
}

.c-card__img {
  overflow: hidden;
}

.c-card-hover--float {
  cursor: pointer;
  box-shadow: 0 0 5px rgba(#000, 0.2);
  transition: transform 0.5s, box-shadow 0.5s;

  &:hover {
    box-shadow: 0 0 30px #80808033;
    transform: scale(1.05);
  }
}
