%c-card {
  display: inline-block;
  width: 300px;
  padding: 10px;
  font-size: 16px;
}

.c-card__img {
  overflow: hidden;
}

.c-card {
  @extend %c-card;

  img {
    width: 100%;
    vertical-align: bottom;
  }
}

.c-card-hover--bright {
  cursor: pointer;

  img {
    filter: brightness(100%);
    transition: filter 0.5s;
  }

  &:hover {
    img {
      filter: brightness(1.2);
    }
  }
}
