#tabbutton-source-code {
  font-size: 0;
}

#tabbutton-source-code::before {
  content: "SCSS";
  font-size: 13px;
}

.sidebar-header > div {
  margin-right: 10px;
}

.sidebar-header > div:last-child {
  margin-right: 0;
}