%c-txt {
  display: inline-block;
  font-size: 16px;
}

.c-txt {
  @extend %c-txt;
}

.c-hover__underline {
  cursor: pointer;
  border-bottom: 1px solid rgba(#000, 0);
  transition: 0.2s border;

  &:hover {
    border-bottom: 1px solid rgba(#000, 1);
  }
}
