.c-txt {
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  color: #000;
}

.c-txt--no-underline {
  border-bottom: 1px solid rgba(#000, 1);
  transition: 0.2s border;

  &:hover {
    border-bottom: 1px solid rgba(#000, 0);
  }
}
