.c-scrolldown {
  position: relative;
  display: inline-block;

  span {
    color: #333;
    font-size: 12px;
    letter-spacing: 0.05em;
  }

  &--mouse {
    padding-bottom: 65px;

    &::before {
      content: "";
      width: 3px;
      height: 10px;
      border-radius: 25%;
      background-color: #333;
      display: block;
      bottom: 40px;
      left: 0;
      right: 0;
      margin: auto;
      position: absolute;
      animation: scroll-mouse 2.2s cubic-bezier(0.15, 0.41, 0.69, 0.94) infinite;
    }

    &::after {
      content: "";
      position: absolute;
      width: 3px;
      padding: 10px 15px;
      height: 35px;
      border: 2px solid #333;
      border-radius: 25px;
      opacity: 0.75;
      box-sizing: content-box;
      display: block;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}

@keyframes scroll-mouse {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}
