.c-tooltip-wrap {
  position: relative;
}

.c-tooltip-wrap:hover .c-tooltip,
.c-tooltip-wrap:hover .c-tooltip--stalker {
  opacity: 1;
}

.c-tooltip-wrap:hover .c-tooltip--to-top,
.c-tooltip-wrap:hover .c-tooltip--to-bottom {
  bottom: 0;
}

.c-tooltip,
.c-tooltip--stalker {
  position: absolute;
  bottom: 0;
  display: inline-block;
  padding: 5px 10px;
  color: #a42ecf;
  pointer-events: none;
  background: #edcef8;
  border-radius: 5px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.c-tooltip::before,
.c-tooltip--stalker::before {
  position: absolute;
  top: 0;
  left: 10px;
  display: block;
  content: "";
  border-right: 10px solid transparent;
  border-bottom: 8px solid #edcef8;
  border-left: 10px solid transparent;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.c-tooltip--to-top {
  bottom: -15px;
}

.c-tooltip--to-bottom {
  bottom: 15px;
}

.c-tooltip--stalker {
  position: fixed;
  bottom: auto;
  z-index: 10;
  left: 0;
  top: 0;
  opacity: 1;
  transition: none;
}

.c-tooltip--stalker::before {
  content: none;
}

%c-card {
  display: inline-block;
  width: 300px;
  padding: 10px;
  font-size: 16px;
}
.c-card__txt {
  padding-top: 10px;
}
.c-card__img {
  overflow: hidden;
}
.c-card {
  @extend %c-card;
  img {
    width: 100%;
    vertical-align: bottom;
  }
}
