.c-btn {
  display: block;
  width: 300px;
  padding: 20px 0;
  text-align: center;
  border: 1px solid #a42ecf;
}

.c-btn--float {
  cursor: pointer;
  box-shadow: 0 0 5px rgba(164, 46, 207, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    box-shadow: 0 0 30px rgba(128, 128, 128, 0.2);
    transform: scale(1.05);
  }
}
