.c-btn {
  display: block;
  width: 300px;
  padding: 20px 0;
  text-align: center;
  border: 1px solid #a42ecf;
}

.c-btn--fill {
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: #a42ecf;
  cursor: pointer;
  background-color: #fff;
  transition: 0.5s color cubic-bezier(0, 0.82, 0.57, 1.01);

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 120%;
    height: 100%;
    content: "";
    background: #a42ecf;
    transition: 0.5s transform cubic-bezier(0, 0.82, 0.57, 1.01);
    transform: scaleX(0);
    transform-origin: left top;
  }

  &:hover {
    color: #fff;

    &::before {
      transform: scaleX(1);
    }
  }
}
