%c-btn {
  display: block;
  width: 300px;
  padding: 20px 0;
  text-align: center;
  cursor: pointer;
}

$BTN_COLOR: #a42ecf;

.c-btn {
  @extend %c-btn;
  border: 1px solid $BTN_COLOR;
}

.c-btn--arrow-scale {
  background: $BTN_COLOR;
  border: 1px solid transparent;
  border-radius: 999px;
  color: #fff;
  min-width: 200px;
  position: relative;
  text-decoration: none;
  transition-duration: 0.3s;
  transition-property: color, background-color, border-color;
  span {
    &::before,
    &::after {
      bottom: 0;
      content: "";
      transition: border-color 0.3s;
      display: block;
      margin: auto;
      position: absolute;
      top: 0;
      z-index: 1;
    }

    &::before {
      border-top: 2px solid $BTN_COLOR;
      height: 0;
      width: 10px;
      right: 28px;
    }

    &::after {
      border-right: 2px solid $BTN_COLOR;
      border-top: 2px solid $BTN_COLOR;
      height: 6px;
      transform: rotate(45deg);
      width: 6px;
      right: 27px;
    }
  }
  &:after {
    background: currentColor;
    border-radius: 50%;
    bottom: 0;
    content: "";
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    transition-duration: 0.3s;
    transition-property: background-color, transform;
    height: 30px;
    right: 18px;
    width: 30px;
  }
  &:hover {
    background: $BTN_COLOR;
    transition: 0.3s background-color;
    &:after {
      transform: scale(1.385);
    }
  }
}
