.c-btn {
  display: block;
  width: 300px;
  padding: 20px 0;
  text-align: center;
  border: 1px solid #a42ecf;
}

.c-btn--inversion {
  color: #a42ecf;
  cursor: pointer;
  background-color: #fff;
  transition: 0.3s background-color;

  &:hover {
    color: #fff;
    background-color: #a42ecf;
  }
}
