.c-btn {
  display: block;
  width: 300px;
  padding: 20px 0;
  text-align: center;
  border: 1px solid #a42ecf;
}

.c-btn--bulk-up {
  cursor: pointer;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}
