%c-btn {
  display: block;
  width: 300px;
  padding: 20px 0;
  text-align: center;
  cursor: pointer;
  border: 1px solid #a42ecf;
}

$BTN_COLOR: #a42ecf;

.c-btn {
  @extend %c-btn;
  border: 1px solid $BTN_COLOR;
}

.c-btn-gradation {
  @extend %c-btn;
  color: #fff;
}

.c-btn-norborder {
  @extend %c-btn;
}

.c-btn--inversion {
  color: $BTN_COLOR;
  cursor: pointer;
  background-color: #fff;
  transition: 0.3s background-color;

  &:hover {
    color: #fff;
    background-color: $BTN_COLOR;
  }
}

%c-btn--fill {
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: $BTN_COLOR;
  cursor: pointer;
  background-color: #fff;
  transition: 0.5s color cubic-bezier(0, 0.82, 0.57, 1.01);

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 120%;
    height: 100%;
    content: "";
    background: $BTN_COLOR;
    transition: 0.5s transform cubic-bezier(0, 0.82, 0.57, 1.01);
    transform: scaleX(0);
    transform-origin: left top;
  }

  &:hover {
    color: #fff;

    &::before {
      transform: scaleX(1);
    }
  }
}

.c-btn--fill,
.c-btn--fill-toright,
.c-btn--fill-skew,
.c-btn--fill-skew-toright {
  @extend %c-btn--fill;
}

.c-btn--fill-toright {
  &::before {
    transform: scaleX(0);
    transform-origin: right top;
  }

  &:hover {
    &::before {
      transform: scaleX(1);
      transform-origin: left top;
    }
  }
}

.c-btn--fill-skew {
  &::before {
    transform: scaleX(0) skewX(-25deg);
  }

  &:hover {
    &::before {
      transform: scaleX(1) skewX(-25deg);
    }
  }
}

.c-btn--fill-skew-toright {
  &::before {
    transform: scaleX(0) skewX(-25deg);
    transform-origin: right top;
  }

  &:hover {
    &::before {
      transform: scaleX(1) skewX(-25deg);
      transform-origin: left top;
    }
  }
}

.c-btn--bulk-up {
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}

.c-btn--float {
  box-shadow: 0 0 5px rgba(164, 46, 207, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    box-shadow: 0 0 30px rgba(128, 128, 128, 0.2);
    transform: scale(1.05);
  }
}

.c-btn--double-border {
  position: relative;
  z-index: 1;
  color: #fff;
  transition: 0.3s color;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background: $BTN_COLOR;
    transition: 0.3s width, 0.3s height;
    transform: translate(-50%, -50%);
  }

  &:hover {
    &::after {
      width: calc(100% - 6px);
      height: calc(100% - 6px);
    }
  }
}

.c-btn--card {
  position: relative;
  z-index: 1;
  color: #fff;
  background: $BTN_COLOR;
  cursor: pointer;
  transition: 0.5s color;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background: #fff;
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
    transform: translate(-50%, -50%) scaleY(0.5);
  }

  &:hover {
    color: $BTN_COLOR;

    &::after {
      opacity: 1;
      transform: translate(-50%, -50%) scaleY(1) rotateX(360deg);
    }
  }
}

.c-btn--gradation {
  position: relative;
  z-index: 1;
  background-image: linear-gradient(90deg, #5e8af3 15%, #f33ddf);
  border: 0;
  color: #fff;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background: $BTN_COLOR;
    background-image: linear-gradient(270deg, #5e8af3 15%, #f33ddf);
    transition: 0.5s opacity;
  }

  &:hover {
    &::after {
      opacity: 0;
    }
  }
}

.c-btn--gradation-border {
  position: relative;
  z-index: 1;
  background-image: linear-gradient(45deg, #5e8af3 25%, #f33ddf 75%, #5e8af3);
  background-position-x: -40px;
  background-origin: border-box;
  background-size: 110%;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: block;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    content: "";
    background: #fff;
    transform: translate(-50%, -50%);
  }

  &:hover {
    animation: gradation-border 2s linear infinite;
  }
}

@keyframes gradation-border {
  to {
    background-position-x: 300px;
  }
}

.c-btn--focus {
  position: relative;
  box-shadow: 0 0 5px rgba(164, 46, 207, 0.2);
  transition: border-color 0.3s, box-shadow 0.3s, color 0.3s;
  z-index: 0;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background: $BTN_COLOR;
    background-image: linear-gradient(270deg, #5e8af3 15%, #f33ddf);
    opacity: 0;
    transition: 0.5s opacity, 0.5s transform;
    transform: scale(1.1);
  }

  &:hover {
    color: #fff;
    border-color: rgba(164, 46, 207, 0);
    box-shadow: 0 0 30px rgba(128, 128, 128, 0.2);

    &::after {
      opacity: 1;
      transform: scale(1);
    }
  }
}
.c-btn--arrow-scale {
  background: $BTN_COLOR;
  border: 1px solid transparent;
  border-radius: 999px;
  color: #fff;
  min-width: 200px;
  position: relative;
  text-decoration: none;
  transition-duration: 0.3s;
  transition-property: color, background-color, border-color;
  span {
    &::before,
    &::after {
      bottom: 0;
      content: "";
      transition: border-color 0.3s;
      display: block;
      margin: auto;
      position: absolute;
      top: 0;
      z-index: 1;
    }

    &::before {
      border-top: 2px solid $BTN_COLOR;
      height: 0;
      width: 10px;
      right: 28px;
    }

    &::after {
      border-right: 2px solid $BTN_COLOR;
      border-top: 2px solid $BTN_COLOR;
      height: 6px;
      transform: rotate(45deg);
      width: 6px;
      right: 27px;
    }
  }
  &:after {
    background: currentColor;
    border-radius: 50%;
    bottom: 0;
    content: "";
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    transition-duration: 0.3s;
    transition-property: background-color, transform;
    height: 30px;
    right: 18px;
    width: 30px;
  }
  &:hover {
    background: #da93f4;
    transition: 0.3s background-color;
    &:after {
      transform: scale(1.385);
    }
  }
}

.c-btn--fill-circle {
  position: relative;
  border-radius: 40px;
  transition: color 0.6s;
  z-index: 0;
  overflow: hidden;
  &:after {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 0;
    width: 240px;
    height: 240px;
    content: "";
    background-color: $BTN_COLOR;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    transform: translate(-50%, -50%) scale(0);
  }
  &:hover {
    color: #fff;
    &::after {
      transition: 0.6s ease-in-out;
      left: 50%;
      transform: translate(-50%, -50%) scale(2);
    }
  }
}
.c-btn--pudding {
  border-radius: 40px;
  &:hover {
    animation: pudding 2.6s ease-in-out;
  }
}

@keyframes pudding {
  5% {
    transform: scale(1.05, 0.95);
  }

  10% {
    transform: scale(0.95, 1.05) translateY(-2.5px);
  }

  15% {
    transform: scale(1);
  }
}
